@font-face {
    font-family: 'railway';
    src: url('./fonts/railway/railway-webfont.woff2') format('woff2'),
        url('./fonts/railway/railway-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'railway';
}

table {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    border: 2px double black;
}

tbody {
    width: 100%;
    border: 2px solid black;
}

tr, th, td {
    border: 2px double black;
    width: 25%;
}


.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 8fr;
}

.header { 
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: left;
    align-items: top;
}

.logo-img {
    align-self: center;
    margin-left: 2rem;
    margin-right: 3rem;
    width: 4rem;
    height: 4rem;
}

.add-book-form ul {
    list-style-type: none;
}

.add-book-form li {
    justify-self: left;
    margin: 1rem;
}